import React from 'react';
{{#if withStyled}}
import { {{ componentName }} } from './{{ componentName }}.styles';
{{/if}}
{{#if withCss}}
import './{{ componentName }}.css';
{{/if}}

interface {{ componentName }}Props {}
const {{ componentName }}: React.FC<{{ componentName }}Props> = () => {
  return (
  {{#if withStyled}}
    <{{ componentName }}>
  {{else}}
    <div>
  {{/if}}
        {{ componentName }} Component
  {{#if withStyled}}
    </{{ componentName }}>
  {{else}}
    </div>
  {{/if}}
  );
};

export default {{ componentName }};