import React from 'react';
{{#if withHooks}}
import { useHello } from './hooks';
{{/if}}
{{#if withComponents}}
import { Button } from './components';
{{/if}}
{{#if withStyled}}
import { {{ componentName }} } from './{{ componentName }}.styles';
{{/if}}
{{#if withCss}}
import './{{ componentName }}.css';
{{/if}}

interface {{ componentName }}Props {}
const {{ componentName }}: React.FC<{{ componentName }}Props> = () => {
{{#if withHooks}}
  const { greet } = useHello();

  React.useEffect(() => {
    greet();
  }, []);
{{/if}}

  return (
  {{#if withStyled}}
    <{{ componentName }}>
  {{else}}
    <div>
  {{/if}}
      {{#if withComponents}}
        <Button />
      {{else}}
        {{componentName}} Component
      {{/if}}
  {{#if withStyled}}
    </{{ componentName }}>
  {{else}}
    </div>
  {{/if}}
  );
};

export default {{ componentName }};
